<!DOCTYPE html>
<html lang="en">
<%- include('../partieals/head') %>

    <body>
        <div id="wrapper">
            <%- include('../partieals/header') %>
            <%- include('../partieals/navbar') %>

            <main>
                <%- body %>
            </main>

            <%= include('../partieals/footer') %>
    </div>
</body>

</html>